.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.grid button {
  color: #fff;
  font-weight: 700;
  background-color: #EB2E46;
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 400px;
  margin-top: 30px;
}

.grid h3, .grid p {
  margin: 10px;
  display: inline-block;
}

.grid hr {
  width: 100%;
  border: 1px solid #eee;
}

.grid img {
  width: 30px;
  cursor: pointer;
  position: relative;
  top: 5px;
  right: 330px;
  margin-left: -30px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.head:first-child {
  border-bottom: 1px solid #eee;;
  margin-bottom: 5px;
}

.head > p {
  cursor: pointer;
  color: #EB2E46;
  font-weight: 700;
}

.cart {
  width: 850px;
}

.description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.description > p {
  color: #fff;
  background-color: #EB2E46;
  width: 20px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  border-radius: 5px;
}

.description div > p:first-child {
  font-weight: 700;
}

.description p:last-child {
  color: #888;
}

.summaryHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 850px;
  margin-top: 30px;
}

.promotion {
  width: 100%;
  background-color: #eee;
  color: #888;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin: 10px 0;
}

.promotion img {
  position: unset;
  width: 20px;
  height: 20px;
}

.summaryHead h3 {
  text-decoration: underline;
  text-decoration-color: #EB2E46;
  text-decoration-thickness: 3px;
}

.summaryHead p {
  margin: 0;
}

.summaryItem {
  width: 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  color: #888;
}

.summaryLast {
  width: 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

@media (max-width: 850px) {
  .cart {
    width: 600px;
  }
  .summaryHead, .summaryItem, .summaryLast {
    width: 600px;
  }
  .grid img {
    right: 200px;
  }
}

@media (max-width: 600px) {
  .grid button {
    width: 100%;
  }
  .cart, .summaryHead, .summaryItem, .summaryLast {
    width: 320px;
  }
  .grid img {
    width: 24px;
    margin-left: -24px;
    right: 90px;
  }
}